EMAIL_SENDER=your_account@gmail.com # пока принимает только gmail.com
EMAIL_PASSWORD=xxxxxxxxxxxxx  # 16-значный пароль приложения
EMAIL_RECEIVER=admin@gmail.com, manager@mail.ru
DATABASE_URL=postgresql://app:app@localhost:5432/analytics
